.list-type {

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  /* width: 100%; */

}

.dish-card {
  background-color: #EDEFEE;
  width: 18%;
  border-radius: .625rem;
  flex-direction: column;
  
}

.dish-image {
  height: 8rem;
  width: 100%;
  border-radius: .625rem;
}

.dish-name, .dish-description {
  padding: 0 20px;
}

.testimonials {
  background-color: #495E57;

}

.testimonial-card {
  background-color: #EE9972;
  display: flex;
  /* margin: 1rem; */
  width: 20%;
  border-radius: 10px;
  transition: 0.3s;
  flex-direction: column;

}



  /* On mouse-over, add a deeper shadow */
  .testimonial-slide:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .testimonial-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }