.dish-card {
  background-color: #EDEFEE;
  display: inline-block;
  /* margin: 1rem; */
  border-radius: .625rem;
}


.dish-image {
  height: 100px;
  width: 150px;
  border-radius: .625rem;
}

.testimonials {
  background-color: #495E57;

}

.testimonial-card {
  background-color: #EE9972;
  display: inline-block;
  margin: 1rem;
  border-radius: 10px;
  transition: 0.3s;

}

.list-type {

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;


}

  /* On mouse-over, add a deeper shadow */
  .testimonial-slide:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .testimonial-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }