/* .image-wraper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
} */

.restaurant-imageA {
    display: flex;
    flex-direction: column;
    
    max-height: 30vh;
    min-width: 20vw;

}