.about {
    /* background-color: #FBDABB ; */
    display: grid;
    
    justify-content: center;
   

}

.restaurant-image-wrapper {
    display: flex;
    flex-direction: row;
   
   
}
 .restaurant-imageA {
    margin: 1rem;
    max-height: 50vh;
    min-width: 40vw;
    border-radius: 10px;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */

}
