body {
  display: grid;
  height: 150vh;
  margin: 0 100px 0 100px;
  font-style: medium;
  font-family: 'Karla', sans-serif;
/* font-family: 'Markazi Text', serif; */
}


/* section {
  margin-left: 10%;
  list-style-type: none;
} */


